<section class="message-controls">
    <form class="message-controls__form" data-value="messageForm">
        {{{ addButton }}}
        {{{ input }}}
        {{{ sendButton }}}
    </form>
</section>
