@mixin boder-radius_xl {
    $radius: 100%;
    border-radius: $radius;
}

@mixin boder-radius_l {
    $radius: 10px;
    border-radius: $radius;
}

@mixin boder-radius_m {
    $radius: 6px;
    border-radius: $radius;
}
