$color-bg: #F7F9FA;
$color-input: #F4F4F5;
$color-stroke: #E8E8E8;
$color-stroke-hover: #D7D7D7;
$color-label: #939393;
$color-white: #ffffff;
$color-primary: #4254FF;
$color-black: #272C32;
$color-warning: #EE5454;
$color-warning-light: #F3D4D5;
