@import '../../styles/mixin';
@import '../../styles/variables';

.chat-card {
    position: relative;

    padding: 16px 48px 16px 12px;


    display: flex;
    align-items: center;
    gap: 12px;

    transition: background .2s ease;

    cursor: pointer;

    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__time {
        position: absolute;
        top: 16px;
        right: 12px;
        font-size: 12px;
        color: $color-label;
    }

    &__count {
        position: absolute;
        bottom: 16px;
        right: 12px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-weight: 500;
        font-size: 11px;
        width: 24px;
        height: 24px;

        background: $color-primary;
        color: $color-white;
        @include boder-radius_xl;
    }

    &_notarget {
        background: $color-white;
    }

    &_notarget:hover {
        background: $color-input;
    }

    &_active {
        background: $color-primary;
    }

    &_active .avatar__name {
        color: $color-white;
    }

    &_active .avatar__message,
    &_active .chat-card__time {
        color: rgba($color: $color-white, $alpha: 0.6);
    }
}