<section class="header">
    <div class="header__left">

        {{{ button }}}

        {{#if input}}
            {{{ input }}}
        {{/if}}

        {{{ addButton }}}

        {{#if headerTitle}}
            <h1 class="header__title">{{ headerTitle }}</h1>
        {{/if}}

    </div>
</section>
