<div class="message-card">
    <img src="{{ src }}" class="avatar avatar_message-list">
    <div class="message-card__inner">
        <div class="message-card__wrap">
            <h2 class="message-card__title">{{ name }}</h2>
            <span class="message-card__time">{{ time }}</span>
        </div>
        <p class="message-card__text">{{ text }}</p>
    </div>
</div>